<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>

	<div th:if="${users.isEmpty()}">There isn't any user in the
		list</div>
	<div th:if="${!users.isEmpty()}">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Last name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
					<td th:text="${user.name}"></td>
					<td th:text="${user.lastname}"></td>
					<td th:text="${user.email}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>